//
//  sqlite3.xcconfig
//  mobilesdkfw
//
//  Created by Blank, Gal (Contractor) on 7/29/16.
//  Copyright © 2016 PeopleLinx. All rights reserved.
//

//MODULEMAP_FILE[sdk=iphoneos*]        = \
//$(SRCROOT)/sqlite3/module.modulemap
//MODULEMAP_FILE[sdk=iphonesimulator*] = \
//$(SRCROOT)/sqlite3/module.modulemap
